{% extends 'base.html' %}

{% block title %}
    <title>Student Details</title> 
{% endblock title %}

{% block content %}
<div style="text-align: center; align-items: center; background-color: #33333350;padding: 30px; width: 50%; margin: 50px auto;border-radius: 10px;">
    <div>
        <img src="/media/qr_codes/{{ student.id }}.png" alt="trial one" width="300" height="200">
    </div>
    <div>
        <a id="download_button" href="/media/qr_codes/{{ student.id }}.png" download="qr_code.png">Download QR Code</a>
    </div>
</div>
    <div class="container">
        <div class="info-section">
            <h2>Personal Information</h2>
            <p>Full Name: {{ student.last_name|capfirst }} {{ student.first_name|capfirst }} {{ student.other_name|capfirst }}</p>
            <p>Date of Birth: {{ student.date_of_birth|capfirst }}</p>
            <p>State of origin: {{ student.state_of_origin|capfirst }} State</p>
            <p>Matric number: {{ student.matric_no|capfirst }}</p>
            <p>Department: {{ student.department|capfirst }}</p>
        </div>

        <div class="info-section">
            <h2>Contact Details</h2>
            <p>Email: {{ student.email }}</p>
            <p>Phone no: {{ student.phone }}</p>
            <p>Home Address: {{ student.home_address|capfirst }}</p>
            <p>Emergency Contact Name: {{ student.emeConName|capfirst }}</p>
            <p>Emergency Contact Phone no: {{ student.emeconphone|capfirst }}</p>
        </div>

        <div class="info-section">
            <h2>Guardian Details</h2>
            <p>Guardian Name: {{ student.guardian_name|capfirst }}</p>
            <p>Relationship_to Student: {{ student.relationship_to_student|capfirst }}</p>
            <p>Guardian Email: {{ student.guardian_email }}</p>
            <p>Guardian Phone no: {{ student.guardian_phone|capfirst }}</p>
            <p>Guardian Address: {{ student.guardian_add|capfirst }}</p>
        </div>

        <div class="info-section">
            <h2>Next of kin Details</h2>
            <p>Next of Kin Name:{{ student.next_of_kin_name|capfirst }}</p>
            <p>Relationship: {{ student.relationship|capfirst }}</p>
            <p>Next of Kin Email: {{ student.next_of_kin_email }}</p>
            <p>Next of Kin Phone no: {{ student.next_of_kin_phone }}</p>
            <p>Next of Kin Address: {{ student.next_of_kin_address|capfirst }}</p>
        </div>

        <div class="info-section">
            <h2>Medical Information</h2>
            <p>Medical Condition: {{ student.medical_condition|capfirst }}</p>
            <p>If not Healthy state health issue: {{ student.if_not_healthy|capfirst }}</p>
        </div>

        <div class="info-section">
            <h2>Other Details</h2>
            <p>Level: {{ student.level }} Level</p>
            <p>Enrollment Date: {{ student.enrollment_date }}</p>
            <p>Graduation Date: {{ student.graduation_date }}</p>
            <p>Status: {{ student.status|capfirst }}</p>
        </div>
    </div>

<style>
    header {
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
            url('media/oui.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #33333350;
        padding: 30px;
        padding-left: 65px;
        padding-top: 50px;
        border-radius: 10px;
    }

    .info-section {
        flex: 1 1 300px;
        margin-right: 40px;
        margin-bottom: 40px;
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.426);
    }

    .info-section h2 {
        color: #333;
        margin-bottom: 10px;
    }

    .info-section p {
        margin: 5px 0;
    }

    #download_button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 10px; /* Adjust the margin as needed */
    }

    #download_button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}
